/* base, fonts etc */
body {
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: white;
	font-family: 'Open Sans', 'Verdana', 'Dejavu sans', sans-serif;
	font-size: 10pt;

}
h1, h2 { font-weight: normal; font-family: 'Ubuntu', sans-serif; }

.clear { clear: both; }

/* menu */
#menu-wrapper {
	float: left;
	width: 20%;
	max-width: 12.5em;
}
	#menu {
		margin-right: 1em;
	}
	#menu ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		line-height: 1.5em;
	}
		#menu li {
			margin: 0;
			padding: 0;
		}

	#menu p {
		font-weight: bold;
		margin-bottom: 0;
	}

	#menu ul.action {
		margin-bottom: 1em;
	}
		#menu ul.action li {
			font-weight: normal;
		}
		#menu ul.action a {
			display: block;
			color: black;
			padding: 4px 8px;
			text-decoration: none;
		}
			#menu ul.action li.active a {
				color: #f5f5f5;
				background: #1969CB;
			}
			#menu ul.action li:not(.active) a:hover {
				background: #eee;
				color: black;
				text-decoration: none;
			}
			#menu ul.action :focus {
				background: #f5f5f5;
			}

	#menu .user-pic {
		text-align: center;
	}
		#menu .user-pic a {
			font-size: 0;
			line-height: 0;
			margin: 0;
			padding: 0;
		}
		#menu .user-pic img {
			border: 1px solid gray;
			padding: 0;
			margin: 0 auto;
			background-color: rgba(255, 255, 255, 0.6);
			background-size: cover;
			width: 120px;
			height: 160px;
		}
		#menu .user-pic img.unavailable {
			background-image: url('../img/anon.png');
			background-repeat: no-repeat;
			background-position: top center;
		}

	#menu .user-nick {
		margin-top: 0;
		font-weight: bold;
		text-align: center;
	}
		#menu .user-nick a {
			max-width: 100%;
			overflow: hidden;
			text-overflow: ellipsis;
			display: inline-block;
		}

	.compare-mode #menu .user-pics {
		position: relative;
	}
		.compare-mode #menu .user-pic img {
			width: 80px;
			height: 100px;
		}
		.compare-mode #menu .user-pic-wrapper {
			position: absolute;
			float: left;
		}
		.compare-mode #menu .user-pic-wrapper:nth-child(2) {
			position: relative;
			margin-top: 2em;
			float: right;
		}

	#menu .share ul {
		margin: 0 auto;
		padding: 0;
		display: inline;
		vertical-align: middle;
	}
	#menu .share p {
		padding-right: 0.75em;
		font-weight: normal;
		display: inline;
	}
		#menu .share li {
			display: inline-block;
			padding: 0 0.15em;
			margin: 0;
			display: inline;
		}


/* layout */
.main-wrapper {
	text-align: left;
	margin: 0 auto;
	position: relative;
	min-width: 390px;
	max-width: 700px;
	padding-left: 1em;
	padding-right: 1em;
}
	.compare-mode .main-wrapper {
		width: 90%;
		max-width: 1200px;
	}

	#main {
		width: 80%;
		float: left;
		position: relative;
	}
	#main *:first-child {
		margin-top: 0;
	}

/* user layout */
div.users {
	padding-bottom: 1.5em;
}
div.user {
	background: white;
}
	div.user h2 {
		margin-bottom: 0.3em;
	}
	.compare-mode div.users {
		background-image: url('../img/switcher.png');
		background-repeat: repeat-y;
		background-position: center top;
		position: relative;
	}
	.compare-mode div.user-wrapper {
		width: 50%;
	}
		.compare-mode div.user-wrapper:first-child {
			float: right;
		}
			.compare-mode div.user-wrapper:first-child div.user {
				margin-left: 4px;
				padding-left: 1em;
			}
		.compare-mode div.user-wrapper:nth-child(2) {
			float: left;
		}
			.compare-mode div.user-wrapper:nth-child(2) div.user {
				margin-right: 4px;
				padding-right: 1em;
			}

	/* "more" divs */
	.wrapper-more {
		margin-top: 2em;
	}
		.wrapper-more {
			margin-top: 1em !important;
			display: none;
		}
			.wrapper-more ul {
				margin-bottom: 0;
			}
		.wrapper-more .close {
			float: right;
			font-size: 20pt;
			line-height: 20pt;
			text-decoration: none;
			color: silver;
			cursor: pointer;
		}

	/* switcher */
	#switcher {
		position: absolute;
		left: 50%;
		top: 0.5em;
		z-index: 3;
		background-color: white;
		margin-left: -8px;
	}
		#switcher i {
			margin: 0 !important;
		}



/* header */
#header {
	padding: 0.5em 0;
	margin: 0 0 1em 0;
	border-bottom: 1px solid #ddd;
	font-size: 115%;

	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f5f5 0, #eaeaea 100%, #fff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#f5f5f5), color-stop(100%,#eaeaea), color-stop(100%, #ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f5f5 0,#eaeaea 100%, #fff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f5f5 0,#eaeaea 100%, #fff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f5f5 0,#eaeaea 100%, #fff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f5f5 0,#eaeaea 100%, #fff 100%); /* W3C */
	background-repeat: no-repeat;
}
	#header form {
		margin: 0;
	}
		#header form input,
		#header .input-append {
			margin: 0;
		}
	#header ul {
		float: left;
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
		#header li {
			display: inline-block;
			padding: 0 1em;
			margin: 0;
			text-align: middle;
		}
			#header li:first-child {
				padding-left: 0;
			}

	#logo a {
		display: inline-block;
		vertical-align: middle;
		background-image: url('../img/logo2a.png');
		width: 170px;
		height: 30px;
		text-decoration: none;
	}
		#logo  span {
			opacity: 0;
		}

	#header .search {
		float: right;
		text-align: middle;
		line-height: 30px;
	}
		.search input {
			width: 175px;
			padding: 1px 4px 1px 4px !important;
			margin: 0 -1px 0 0 !important;
			vertical-align: bottom;
			height: 25px;
		}
		.search button {
			display: inline-block;
			padding: 1px 12px !important;
			margin: 0 -1px 0 0 !important;
			height: 25px;
			vertical-align: bottom !important;
		}
		.search input, .search button {
			/* fix round corners on chrome */
			-webkit-appearance: none;
			/* fix height-padding problem */
			box-sizing: content-box;
			-moz-box-sizing: content-box;
			-webkit-box-sizing: content-box;
		}



#glider {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.2);
	display: none;
	z-index: 99;
}
	#glider>div {
		top: 200px;
		position: relative;
		margin: 0 auto;
		box-shadow: 0 0 0.5em 1.5em white;
		background-color: white;
		width: 96px;
	}
	#glider .target {
		background-image: url('../img/glider.png');
		background-repeat: no-repeat;
		background-position: 0 0;
		width: 96px;
		height: 96px;
	}







/* links */
a {
	color: #1969CB;
	text-decoration: none;
}
	a:focus {
		opacity: .8;
		outline: 0;
		background-color: #E1E7F5;
		display: inline-block;
	}
	a:hover, a:hover span {
		color: #2D7DE0;
		text-decoration: underline;
	}


/* weird fix for chrome yellow border */
:not(input)[tabindex] {
	border: 0;
	outline: 0;
}

/* icons */
[class^='icon-'],
[class*=' icon-'] {
	display: inline-block;
	vertical-align: text-top;
	line-height: 16px;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url('../img/icons.png');
}
	a:hover .icon-mg        { background-position: 0px -16px; }
	a:hover .icon-club      { background-position: -16px -16px; }
	a:hover .icon-pop-out   { background-position: -32px -16px; }
	a:hover .icon-search    { background-position: -48px -16px; }
	a:hover .icon-compare   { background-position: -64px -16px; }
	a:hover .icon-dot       { background-position: -80px -16px; }
	a:hover .icon-plus      { background-position: -96px -16px; }
	a:hover .icon-minus     { background-position: -112px -16px; }
	a:hover .icon-tick      { background-position: -128px -16px; }
	a:hover .icon-cross     { background-position: -144px -16px; }
	a:hover .icon-eye       { background-position: -160px -16px; }
	a:hover .icon-hourglass { background-position: -176px -16px; }
	a:hover .icon-schedule  { background-position: -192px -16px; }
	a:hover .icon-switch    { background-position: -208px -16px; }
	a:hover .icon-anonymize { background-position: -224px -16px; }
	a:hover .icon-facebook  { background-position: -240px -16px; }
	a:hover .icon-twitter   { background-position: -256px -16px; }

	.icon-mg        { background-position: 0 0; }
	.icon-club      { background-position: -16px 0; }
	.icon-pop-out   { background-position: -32px 0; }
	.icon-search    { background-position: -48px 0; }
	.icon-compare   { background-position: -64px 0; }
	.icon-dot       { background-position: -80px 0; }
	.icon-plus      { background-position: -96px 0; }
	.icon-minus     { background-position: -112px 0; }
	.icon-tick      { background-position: -128px 0; }
	.icon-cross     { background-position: -144px 0; }
	.icon-eye       { background-position: -160px 0; }
	.icon-hourglass { background-position: -176px 0; }
	.icon-schedule  { background-position: -192px 0; }
	.icon-switch    { background-position: -208px 0; }
	.icon-anonymize { background-position: -224px 0; }
	.icon-facebook  { background-position: -240px 0; }
	.icon-twitter   { background-position: -256px 0; }

	.icon-tooltip { background-position: -272px 0; width: 24px; height: 24px; margin: 0; }

/* tooltips */
div.tooltip {
	position: absolute;
	z-index: 50;
	pointer-events: none;
}
	div.tooltip div {
		margin: 4px;
		background: rgba(0, 0, 0, 0.7);
		color: white;
		border-radius: 0.5em;
		font-size: 8pt;
		text-align: center;
		font-weight: normal;
		padding: 0.5em;
		width: 70px;
	}
		div.tooltip.medium div {
			width: 150px;
		}
		div.tooltip.big div {
			width: 240px;
		}

table.tablesorter {
	border-spacing: 0;
	width: 100%;
}
	table.tablesorter thead th {
		background-color: #f5f5f5;
		padding: 0.5em 6px 0.5em 21px;
		border-right: 1px solid white;
	}
	table.tablesorter tbody td {
		padding: 0.1em 6px 0.1em 6px;
	}
		table.tablesorter tbody tr:hover td {
			background: #f5f5f5;
		}

	table.tablesorter thead tr .header {
		background-image: url('../img/bg.gif');
		background-repeat: no-repeat;
		background-position: center left;
		cursor: pointer;
	}
	table.tablesorter thead tr .headerSortUp {
		background-color: #2D7DE0;
		color: white;
		background-image: url('../img/asc.gif');
	}
	table.tablesorter thead tr .headerSortDown {
		background-color: #2D7DE0;
		color: white;
		background-image: url('../img/desc.gif');
	}

#preloader {
	background: url('../img/glider.png');
}
