#menu {
	display: none;
}
#main {
	font-size: 11pt;
	width: 100%;
}
#logo {
	opacity: .5;
}

.center {
	text-align: center;
}
.padded {
	padding-top: 3em;
}
	.center .padded {
		padding-top: 1.5em;
	}

div.about-mal {
	display: none;
	margin-top: 1em;
}

span.bull {
	margin: 0 1em;
	display: inline-block;
}
