.target {
	width: 400px;
	height: 254px;
	line-height: 0;
}

ul.infobox {
	float: right;
	width: 100px;
	list-style-type: none;
	text-align: center;
	display: table;
	padding: 0;
	margin: 10px 0 50px 0;
	height: 190px;
}
	ul.infobox li {
		margin-bottom: 30px;
		display: table-row;
	}
		ul.infobox li div {
			display: table-cell;
			vertical-align: middle;
		}

		ul.infobox li span.header {
			display: block;
			margin: 0;
		}
			ul.infobox li span.header:after {
				content: ':';
			}

		ul.infobox li span.subject {
			display: inline-block;
			margin: 0.25em auto;
			font-size: 1.75em;
		}

		ul.infobox li span.suffix {
			display: block;
			font-size: 9pt;
			padding: 0;
		}
