.user.anonymous .mal-links li { text-decoration: line-through; }
.updated { float: right; font-size: 65%; padding-top: 0.25em; opacity: .25; }
.list-views .suffix { margin-left: 0.67em; color: gray; }

#main ul { list-style-type: none; margin: 0; padding: 0; line-height: 1.5em; }
	.clubs, .friends { max-height: 15em; }
		.friends ul { columns: auto 3; -webkit-columns: auto 3; -moz-columns: auto 3; }
		.clubs ul { columns: auto 2; -webkit-columns: auto 2; -moz-columns: auto 2; }
			.friends li { overflow: hidden; display: block; text-overflow: ellipsis; }
			.clubs li { overflow: hidden; display: block; text-overflow: ellipsis; }

	.friends a, .clubs a { position: relative; }
	.friends i, .clubs i { position: absolute; }
	.friends span, .clubs span { display: inline-block; margin-left: 21px; }

#main [class^='icon-'] { margin-right: 5px; }
.basic dl { margin-bottom: 1em; }

dl { display: inline-block; margin: 0; }
	dt { clear: left; font-weight: bold; width: 10em; float: left; }
		dt:after { content: ': '; }
		dd { float: left; margin: 0; padding: 0; }
			dd a { margin-left: 0.5em; }

.wrapper-target { float: right; width: 40%; margin-left: 1em; }
.target { height: 15em; }
.target text { pointer-events: none !important; }

#main .wrapper-more ul.franchises { list-style-type: disc; padding-left: 2em; }
	#main .wrapper-more ul.franchises li { margin-bottom: 1em; }
