.decades .wrapper-target { width: 100%; }
.decades .target { height: 300px; width: 100%; }
.lengths .target { height: 200px; width: 100%; }
.lengths ul.infobox { height: 200px; }

table .title { width: 100%; }
table .ord { text-align: center; }
table .mean, table .time, table .count { text-align: right; }
table.tablesorter thead th:first-child { padding-left: 6px; padding-right: 6px; }

span.info { font-size: 7pt; color: gray; }

.scrollable { height: 30em; overflow: auto; box-shadow: inset 0 -2em 1em -1em #eee; }
