/* user layout */
div.users { padding-bottom: 2em; }
div.user h2 { margin-bottom: 0.7em; padding-left: 0.3em; }
.compare-mode div.users { background-image: url('../img/switcher.png'); background-repeat: repeat-y; background-position: center top; position: relative; }
.compare-mode div.user-wrapper { width: 50%; }
.compare-mode div.user-wrapper:first-child { float: left; }
.compare-mode div.user-wrapper:nth-child(2) { float: right; }
.compare-mode div.user-wrapper:first-child div.user { margin-right: 4px; padding-right: 1em; }
.compare-mode div.user-wrapper:nth-child(2) div.user { margin-left: 4px; padding-left: 1em; }

/* switcher */
#switcher { position: absolute; left: 50%; top: 0.5em; z-index: 3; background-color: white; margin-left: -8px; }
#switcher i { margin: 0 !important; }

/* "more" divs */
.wrapper-more { display: none; }
.wrapper-more ul { margin: 0; padding-top: 1em; }
.wrapper-more .close { float: right; font-size: 20pt; line-height: 20pt; text-decoration: none; color: silver; cursor: pointer; }
.wrapper-more span.details { color: gray; margin-left: 0.5em; font-size: 92.5%; }

@media (max-width: 800px) {
	.compare-mode div.users { background: none !important; }
	.compare-mode div.user-wrapper { width: 100% !important; }
	.compare-mode div.user { margin: 0 !important; padding: 1em; }
	#switcher { display: none; }
}
