.acti-line-monthly .target {
	height: 340px;
	min-width: 100%;
}
	.acti-line-monthly .wrapper-target {
		height: 360px;
	}

.acti-line-daily .target {
	width: 398px;
	height: 250px;
}

ul.infobox {
	height: 220px;
}
