#main [class^='icon-'] { margin-right: 5px; }
.updated { float: right; font-size: 65%; padding-top: 0.25em; opacity: .25; }
.list-views .suffix { margin-left: 0.67em; color: gray; }

.basic dl { margin-bottom: 1em; width: 60%; float: left; }
.basic .user.anonymous .mal-links li { text-decoration: line-through; }
.basic .mal-links { float: left; }

.friends ul, .clubs ul, .basic ul { list-style-type: none; margin: 0; padding: 0; line-height: 1.5em; }
.friends a, .clubs a { position: relative; }
.friends ul li, .clubs ul li { overflow: hidden; display: block; text-overflow: ellipsis; }
	.friends ul li { float: left; width: 33%; }
	.clubs ul li { float: left; width: 50%; }
.friends ul i, .clubs ul i { position: absolute; }
.friends ul span, .clubs ul span { display: inline-block; margin-left: 21px; }
.friends a.more, .clubs a.more { display: inline-block; margin-top: 0.5em; }

dl { display: inline-block; margin: 0; }
dt { clear: left; font-weight: bold; width: 8em; float: left; margin-left: 0.5em; }
dt:after { content: ': '; }
dd { float: left; margin: 0; padding: 0; }
dd a { margin-left: 0.5em; }

#main .wrapper-more .franchises { padding-left: 2em; }
#main .wrapper-more .franchises li { margin-bottom: 1em; }

.sub-stats .table-wrapper { float: right; width: 15em; min-height: 10em; }
.sub-stats table tr { cursor: pointer; }
.sub-stats table th,
.sub-stats table td { text-align: center; vertical-align: top; white-space: nowrap; }
.sub-stats table th:first-child,
.sub-stats table td:first-child { text-align: left; }

.sub-stats .wrapper-more { margin-top: 1em; }
