div.table {
	max-height: 100%;
	position: relative;
}

	td.same-score { color: pink; }
	td.higher-score { color: #0a0; }
	td.lower-score { color: red; }
	td.no-score { color: gray; }
	.compare-mode tr.unique .score { color: #ccc; }

table {
	width: 100%;
	border-spacing: 0;
}
	th,
	td {
		padding: 2px 2px;
		text-align: center;
	}
		th.title,
		td.title {
			width: 100%;
			padding: 2px 8px;
			text-align: left;
		}

	th.ord,
	td.ord { display: none; }


	tr:hover td {
		background: #f5f5f5;
	}
