body {
	margin: 0 10px 10px 10px;
	text-align: center;
	background-color: white;
	font-family: 'Verdana', 'Dejavu sans', sans-serif;
	font-size: 9pt;
}
.clear { clear: both; }

/* layout */
#main-wrapper {
	text-align: left;
	margin: 0 auto;
	display: inline-block;
}
	#main {
		min-height: 450px;
		padding: 10px 0;
		border-bottom: 4px solid #eee;
	}
	#content {
		width: 670px;
	}
	#menu+#content {
		margin-left: 110px;
		width: 560px;
	}
	.compare-mode #menu+#content {
		width: 924px;
	}
	#content *:first-child {
		margin-top: 0;
	}


	#menu {
		width: 100px;
		position: absolute;
	}
		#menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
			#menu li {
				margin: 0;
				padding: 0;
			}
			#menu ul a {
				display: block;
				color: black;
				padding: 4px 8px;
			}
			#menu ul li.active a {
				background: #f5f5f5;
				color: #1B6DBF;
			}
			#menu ul li a:hover {
				background: #eee;
				text-decoration: none;
			}
		#menu :focus {
			background: #f5f5f5;
		}
		#menu ul.am {
			border-bottom: 4px solid #f5f5f5;
		}
		#menu ul.am li {
			display: inline-block;
		}
		#menu ul.am li a {
			margin-left: 0;
			width: 34px;
			text-align: center;
		}


	#header {
		position: relative;
		border-bottom: 4px solid #eee;
	}
		#header h1 {
			margin: 7px 0 0 -7px;
			padding: 0;
			display: inline-block;
			float: left;
		}
			#header h1 a {
				display: inline-block;
				background-image: url('img/gfx.png');
				background-repeat: no-repeat;
				background-position: 0 -128px;
				width: 170px;
				height: 40px;
			}
				#header h1  span {
					opacity: 0;
				}
		#search {
			float: right;
			margin: 10px 10px 0 0;
		}
			#search input {
				width: 175px;
				padding: 1px 4px 1px 4px;
				margin: 0 -1px 0 0;
				vertical-align: bottom;
				height: 25px;
			}
			#search button {
				display: inline-block;
				padding: 1px 12px;
				margin: 0 -1px 0 0;
				height: 25px;
				vertical-align: bottom;
			}
			#search input, #search button {
				/* fix height-padding problem */
				box-sizing: content-box;
				-moz-box-sizing: content-box;
				-webkit-box-sizing: content-box;
			}


	#footer p {
		display: inline-block;
		font-size: 8pt;
		margin: 0 1em;
	}
		#footer p:first-child {
			margin-left: 0;
		}


	#glider {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		display: none;
	}
		#glider>div {
			top: 200px;
			position: relative;
			margin: 0 auto;
			box-shadow: 0 0 0.5em 1.5em white;
			background-color: white;
			width: 96px;
		}
		#glider .target {
			background-image: url('img/gfx.png');
			background-repeat: no-repeat;
			background-position: 0 -32px;
			width: 96px;
			height: 96px;
		}



/* links */
a {
	color: #1B6DBF;
	text-decoration: none;
}
	a:focus {
		opacity: .8;
		outline: 0;
		background-color: #E1E7F5;
		display: inline-block;
	}
	a:hover, a:hover span {
		text-decoration: underline;
	}


/* misc */
p {
	line-height: 13.5pt;
}
h1 {
	font-weight: normal;
}
h2, h3 {
	background-color: #f5f5f5;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	font-weight: normal;
	padding: 3px 10px;
	margin: 2em 0 1em 0;
}
h2 {
	margin-top: 0;
}

div[tabindex] {
	border: 0;
	outline: 0;
}

.compare-mode div.user {
	width: 450px;
	float: left;
}
	.compare-mode div.user:first-child {
		padding-right: 10px;
		border-right: 4px solid #eee;
	}
	.compare-mode div.user:nth-child(2) {
		border-left: 4px solid #eee;
		padding-left: 10px;
		margin-left: -4px;
	}

/* icons */
[class^='icon-'] {
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url('img/gfx.png');
}
	a:hover .icon-mg { background-position: -128px -16px; }
	a:hover .icon-club { background-position: -144px -16px; }
	a:hover .icon-pop-out { background-position: -160px -16px; }
	a:hover .icon-search { background-position: -176px -16px; }
	a:hover .icon-compare { background-position: -192px -16px; }
	a:hover .icon-dot { background-position: -208px -16px; }
	a:hover .icon-plus { background-position: -224px -16px; }
	a:hover .icon-minus { background-position: -240px -16px; }
	a:hover .icon-tick { background-position: -256px -16px; }
	a:hover .icon-cross { background-position: -272px -16px; }
	a:hover .icon-eye { background-position: -288px -16px; }
	a:hover .icon-hourglass { background-position: -304px -16px; }
	a:hover .icon-schedule { background-position: -320px -16px; }

	.icon-mg { background-position: -128px 0; }
	.icon-club { background-position: -144px 0; }
	.icon-pop-out { background-position: -160px 0; }
	.icon-search { background-position: -176px 0; }
	.icon-compare { background-position: -192px 0; }
	.icon-dot { background-position: -208px 0; }
	.icon-plus { background-position: -224px 0; }
	.icon-minus { background-position: -240px 0; }
	.icon-tick { background-position: -256px 0; }
	.icon-cross { background-position: -272px 0; }
	.icon-eye { background-position: -288px 0; }
	.icon-hourglass { background-position: -304px 0; }
	.icon-schedule { background-position: -320px 0; }

	li.active .icon-anime, a:hover .icon-anime { background-position: -32px 0; }
	li.active .icon-manga, a:hover .icon-manga { background-position: -96px 0; }
	.icon-anime { background-position: 0 0; width: 32px; height: 32px; }
	.icon-manga { background-position: -64px 0; width: 32px; height: 32px; }
