body {
	margin: 0 10px 10px 10px;
	text-align: center;
	background-color: white;
	font-family: 'Verdana', 'Dejavu sans', sans-serif;
	font-size: 9pt;
}
.clear { clear: both; }

/* layout */
#main-wrapper.compare-mode {
	width: 1000px;
}
#main-wrapper {
	width: 600px;
	text-align: left;
	margin: 0 auto;
}
	#main {
		min-height: 400px;
		padding: 10px 0;
		border-top: 4px solid #eee;
		border-bottom: 4px solid #eee;
	}
	#content *:first-child {
		margin-top: 0;
	}


	#menu {
		width: 100px;
		position: absolute;
	}
		#menu+#content {
			margin-left: 110px;
		}
		#menu ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
			#menu li {
				margin: 0;
				padding: 0;
			}
			#menu ul a {
				display: block;
				color: black;
				padding: 4px 8px;
			}
			#menu ul li.active a {
				background: #f5f5f5;
				color: #a00;
			}
			#menu ul li a:hover {
				background: #eee;
				text-decoration: none;
			}
		#menu :focus {
			background: #f5f5f5;
		}
		#menu ul.am li {
			display: inline-block;
		}
		#menu ul.am li a {
			margin-left: 0;
			width: 34px;
			text-align: center;
		}


	#header {
		position: relative;
		margin: 10px 0 -8px -8px;
	}
		#header h1 {
			margin: 0;
			padding: 0;
			display: inline-block;
			float: left;
		}
			#header h1 a {
				display: inline-block;
				background-image: url('img/logo.png');
				background-repeat: no-repeat;
				background-position: top left;
				width: 186px;
				height: 41px;
			}
				#header h1  span {
					opacity: 0;
				}
		#search {
			float: right;
			margin: 4px 0;
		}
			#search input {
				width: 150px;
				padding: 1px 4px;
				margin: 0;
			}
			#search button {
				display: inline-block;
				padding: 1px 4px;
			}


	#footer p {
		display: inline-block;
		font-size: 8pt;
		margin: 0 1em;
	}
		#footer p:first-child {
			margin-left: 0;
		}


	#glider {
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		background-color: rgba(0, 0, 0, 0.2);
		display: none;
	}
		#glider>div {
			top: 200px;
			position: relative;
			margin: 0 auto;
			box-shadow: 0 0 0.5em 1.5em white;
			background-color: white;
			width: 96px;
		}
		#glider .target {
			background-image: url('img/gfx.png');
			background-repeat: no-repeat;
			background-position: 0 -32px;
			width: 96px;
			height: 96px;
		}



/* links */
a {
	color: #c00;
	text-decoration: none;
}
	a:focus {
		color: #e00;
		outline: 0;
		background-color: #fcc;
		display: inline-block;
	}
	a:hover {
		color: #e00;
		text-decoration: underline;
	}


/* misc */
p {
	line-height: 13.5pt;
}
h1 {
	font-weight: normal;
}
.compare-mode div.user {
	float: left;
	width: 435px;
}
.compare-mode div.user:first-child {
	border-right: 4px solid #eee;
	margin-right: 10px;
}


/* icons */
[class^='icon-'] {
	display: inline-block;
	vertical-align: text-top;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-image: url('img/gfx.png');
}
	a:hover .icon-mg { background-position: 0 -16px; }
	a:hover .icon-club { background-position: -16px -16px; }
	a:hover .icon-pop-out { background-position: -32px -16px; }
	a:hover .icon-search { background-position: -48px -16px; }
	a:hover .icon-compare { background-position: -64px -16px; }
	a:hover .icon-anime { background-position: -80px -16px; }
	a:hover .icon-manga { background-position: -96px -16px; }

	.icon-mg { background-position: 0 0; }
	.icon-club { background-position: -16px 0; }
	.icon-pop-out { background-position: -32px 0; }
	.icon-search { background-position: -48px 0; }
	.icon-compare { background-position: -64px 0; }
	.icon-anime { background-position: -80px 0; }
	.icon-manga { background-position: -96px 0; }

