.user-pic {
	max-width: 130px;
	border: 1px solid gray;
	margin-right: 10px;
	float: left;
}
	.user-pic.anonymous {
		background-image: url('img/gfx.png');
		background-repeat: no-repeat;
		background-position: -384px 0px;
		height: 188px;
		width: 130px;
	}

div.basic {
	float: left;
}
	div.basic ul {
		margin-top: 15px;
	}

dt {
	clear: left;
	float: left;
	font-weight: bold;
	width: 10em;
}
	dt:after {
		content: ': ';
	}
	dd {
		margin: 0;
		padding: 0;
		float: left;
	}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
	#clubs, #friends {
		max-height: 200px;
		overflow: auto;
	}
		#friends {
			columns: auto 3;
			-webkit-columns: auto 3;
			-moz-columns: auto 3;
		}
		#clubs {
			columns: auto 2;
			-webkit-columns: auto 2;
			-moz-columns: auto 2;
		}
			#clubs a { position: relative; }
			#clubs i { position: absolute; }
			#clubs span { display: inline-block; margin-left: 21px; }

#content [class^='icon-'] {
	margin-right: 5px;
}
